*{
    margin: 0;
    padding: 0;
}
/* .cv{
   text-align: center;
   display: flex;
   justify-content: left;
   color: #000;
} */
.header{
    text-align: center;
    display: flex;
    justify-content: left;
    color: #000;
}