/* *{
    margin: 0;
    padding: 0;

}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(""); 
    background-size: cover;
    background-position: center;
    background-repeat: non;
} */
    *{
        margin: 0;
        padding: 0;
        /* background-color: black; */
    }
    .header{
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,3,0.7),rgba(4,9,3,0.7)), url("file:///C:/Users/jutt/OneDrive/Desktop/imran/banner'.jpg");
        background-size: cover;
        background-position:center;
        position: relative;
    }
    .nav{
        display: flex;
        /* padding:2% 6% ; */
        justify-content: space-between;
        text-align: center;
    }
    nav img{
        width: 110px;
    }
    .nav-links{
        flex: 1;
        text-align: right;
    
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: white;
        font-size: 13px;
        text-decoration: none;
    
    }
    .banner{
        text-align: center;
        color: #fff;
        /* padding-left: 10%;
        padding-right: 10%; */
        font-size: 18px;
        padding: 120px 120px;
        
    }
    h2{
        color: white;
        font-size: 35px;
        padding-bottom: 2%;
    }
/* .container{
text-align: center;
} */
    .btn{
        text-align: center;
        color: #fff;
        background-color: black;
        width:100px;
        height: 40px;
        border-radius: 1;

    }
    .btn:hover{
        color: #000;
        background-color: #fff;
       border: #000;

    }
    